body {
    font-family: "Arial";
    font-size: 10pt;
}
.top {
    width: 100%;
    height: 60px;
}
.head-logo {
    width: 15%;
    float: left;
    padding: 5px;
}
.head-logo img {
    height: 50px;
}
.head-text {
    width: 67%;
    float: left;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

.head-title {
    position: relative;
    font-size: 20px;
}
.head-sub-title {
    position: relative;
    font-size: 16px;
}
